/*
Title-font-family: 'Amatic SC', cursive;
Heading-font-family: 'Josefin Slab', serif;
Body-font-family: 'Roboto', sans-serif;

Wheat - rgba(249, 225, 179)
Tumbleweed - rgba(246, 185, 153)
Copper Crayola - rgba(215, 143, 106)
Antique Bronze - rgba(102, 102, 65)
Persian Plum - rgba(119, 32, 39)
*/

@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

html {
    font-size: 16px;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: rgba(119, 32, 39);
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h2, h3 {
    font-family: 'Josefin Slab', serif;
    color: rgba(119, 32, 39);
}

h3::before, h2::before { 
    display: block; 
    content: " "; 
    margin-top: -16vh; 
    height: 16vh; 
    visibility: hidden; 
    pointer-events: none;
  }

a {
    text-decoration: none;
    color: black;
}

img {
    border: rgba(102, 102, 65) 2px solid;
}

header {
    position: fixed;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(246, 185, 153);
    border-bottom: rgba(215, 143, 106) 3px solid;
    z-index: 1000;
}

.fa {
    color: rgba(119, 32, 39);
}

#logo {
    display: inline-flex;
    width: 50%;
    align-items: center;
}

#logo img {
    border: none;
}

nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

nav i {
    cursor: pointer;
}

.dropbtn {
    border: none;
    background-color:rgba(246, 185, 153);
    padding: 16px;
    width: 50vw;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(246, 185, 153);
    min-width: 100%;
    z-index: 1;
    border-left:  rgba(215, 143, 106) 3px solid;
    height: 90vh;
    margin-top: -50%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    height: 14vh;
    display: flex;
    align-items: center;
    border-bottom:  rgba(102, 102, 65) 1px dashed;
    font-size: 1.2rem;
}

.show {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#map {
    border-bottom: rgba(119, 32, 39) 1px solid;
    padding-top: 15vh;
}

#main {
    z-index: -1;
}

/*Home Page*/
.favorite {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-bottom: 15%;
}

.favorite a {
    font-size: 1.2rem;
}

.fav-photo1, .fav-photo2, .fav-photo3, .fav-photo4, .fav-photo5 {
    width: 100%;
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: grey;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
}

.next {
    right: 5%;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 5%;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(119, 32, 39, 0.8);
}

/*Recipe Index*/
.category {
    border-bottom: rgba(215, 143, 106) 1px solid;
    padding: 2%;
}

.category h3 {
    margin-bottom: 1%;
}

.cat-listing {
    background-color: rgba(249, 225, 179, 0.6);
    border: rgba(119, 32, 39) 1px solid;
    border-radius: 15px;
}

.cat-listing p {
    line-height: 2rem;
}

.cat-listing a {
    padding: 2%;
}

/*Category Recipe List*/
.recipe-list {
    margin-top: 3%;
}

.row {
    display: inline-flex;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
}

.recipe p {
    margin-top: 0.5%;
}

/*Recipe page*/
.recipe-page {
    padding: 2%;
}

.info {
    padding: 1% 2%;
    margin: 2% 0;
    background-color: rgba(249, 225, 179, 0.6);
    border: rgba(119, 32, 39) 1px solid;
    border-radius: 15px;
    text-align: left;
}

#serve-time {
    text-align: center;
}

.time {
    display: flex;
    justify-content: space-around;
}

.time-type {
    padding: 0 3%
}

.ingred-uten {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nutr-fact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Mobile*/
@media only screen and (min-width: 0px) and (max-width: 500px)
{
    
}

/*Desktop*/
@media only screen and (min-width: 800px) 
{
    
}