/*
Title-font-family: 'Homemade Apple', cursive;
Heading-font-family: 'Raleway', sans-serif;
Body-font-family: 'Roboto', sans-serif;

Peach - rgba(247, 219. 167)
Tumbleweed - rgba(241, 171, 134)
Copper Crayola - rgba(197, 123, 87)
Black Olive - rgba(53, 53, 49)
Dark Sienna - rgba(60, 21, 24)
*/

@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

html {
    font-size: 16px;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 800px) 
{
    body {
        background-color: chartreuse;
    }
}

@media only screen and (min-width: 0px) and (max-width: 500px)
{
    body {
        background-color: darkgoldenrod;
    }
}